$base-font-size: 16px;
$base-line-height: 16px;

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #0b0f11;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

#wrapper{
  padding: 0 0 0 emCalc(30px);
  #logo a{
    text-indent: -9999px;
    background: url('../images/logo.png') no-repeat center center;
    height: 165px;
    width: 100%;
    display: block;
    background-size: auto 100%;
  }
  .top{
    position: fixed;
    bottom: 25px;
    left: 65em;
    text-indent: -9999px;
    background: rgba(36,39,41,0.3) url('../images/top.png') no-repeat center center;
    height: 35px;
    width: 35px;
    z-index: 30000;
    display: none;
  }
  nav{
    margin-top: 4.5em;
    a{
      display: block;
      color: #4e5051;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.5em;
      &.inicio{
        display: none;
      }
      &:hover, &.active{
        color: #fff;
      }
    }
  }
}

p{
  font-weight: 300;
}

a:hover{
  color: #fff;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Noto Sans', Helvetica, sans-serif;
  color: #4e5051;
}

h2{
  color: #fff;
  font-size: emCalc(54px);
  line-height: emCalc(18px);
  margin-top: 1.125em;
  margin-bottom: 0.35em;
}

h3{
  font-size: emCalc(31px);
  line-height: 1.1em;
  margin-top: 1.5em;
  float: left;
  width: 100%;
  .sup{
    font-size: 0.6em;
    line-height: 0.3em;
  }
}

h4{
  color: #fff;
  margin-bottom: 0;
  font-size: emCalc(20px);
}

h5{
  text-align: right;
  font-size: 1em;
}

h6{
  font-size: emCalc(14px);
}

ul, ol{
  margin-left: 1.5em;
}

ol{
  li{
    font-weight: bold;
    span{
      font-weight: 300;
    }
  }
}

.row{
  margin-left: 0;
  padding: emCalc(70px) 0;
  &#index{
    padding-top: 3.375em;
    h3{
      font-size: 1.5em;
      margin-top: 0;
      color: rgb(53,55,56);
    }
    p{
      line-height: 1.5em;
    }
    .boxes{
      list-style: none;
      margin-left: 0;
      li{
        width: 24%;
        float: left;
        margin-right: 1%;
        background: rgba(36,39,41,0.3);
        padding: 0.8125em 0.5em;
        position: relative;
        a{
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2000;
          &:hover+span{
            opacity: 1;
            color: #fff;
          }
          &:hover~h3{
            opacity: 1;
            color: #fff;
          }
          &:hover~p{
            opacity: 1;
            color: #fff;
          }
        }
        span{
          height: 34px;
          width: 100%;
          display: block;
          opacity: 0.35;
          &.lightbulb{
            background: url(../images/light-bulb.png) no-repeat center center;
          }
          &.book{
            background: url(../images/book.png) no-repeat center center;
          }
          &.roi{
            background: url(../images/roi.png) no-repeat center center;
            background-size: auto 90%;
          }
          &.envelope{
            background: url(../images/mail.png) no-repeat center center;
          }
          &.sup{
            display: inline;
            opacity: 1
          }
        }
        h3{
          margin-top: emCalc(4px);
        }
        h3, p{
          color: #4e5051;
          margin-bottom: 0px;
          text-align: center;
        }
        p{
          font-size: 0.875em;
        }
      }
    }
  }
}

.fixed{
  position: fixed;
  height: 100%;
  padding: 2.75em 0 0 emCalc(30px);
  z-index: 20000;
}

.sup{
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0.2em;
}

.source{
  text-align: right;
  float: right;
  font-size: emCalc(12px);
  font-family: 'Noto Sans', Helvetica, sans-serif;
  color: #4e5051;
  width: 100%;
  font-weight: normal;
}

table{
  width: 100%;
  border-spacing: 3px 3px;
  border-collapse: separate;
  border: none;
  background: transparent;
  tr.even, tr.alt, tr:nth-of-type(even) {
    background: transparent;
  }
  tr{
    td{
      color: #fff;
      background: rgba(36, 39, 41, 0.3);
      padding: 1em 0.625em;
      line-height: 1.5em !important;
      ul{
        margin-bottom: 0;
      }
      &.center{
        text-align: center;
      }
      strong{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 2em;
        line-height: 0.5em;
        padding-bottom: 5px;
        &.minus{
          font-size: 3em;
        }
      }
    }
  }
}

// #index{
//   .large-8{
//     padding-top: 75px;
//   }
// }

.content{
  padding: 1em 0 emCalc(40px) 0;
  overflow: hidden;
  float: left;
  width: 100%;
  img{
    width: 100%;
    &.venn{
      width: 12em;
      margin: 0 auto;
      display: block;
    }
  }
  ul.pasos{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    li{
      float: left;
      width: 22%;
      padding: 2em 0 1.5em 1.5em;
      span{
        font-size: emCalc(12px);
        line-height: 1.4em;
        display: block;
      }
      &.item-1{
        background: url(../images/paso-1.png) no-repeat top left;
        background-size: 100%;
      }
      &.item-2{
        background: url(../images/paso-2.png) no-repeat top left;
        margin-left: -2.7em;
        padding-left: 4em;
        width: 29%;
        background-size: 100%;
      }
      &.item-3{
        background: url(../images/paso-3.png) no-repeat top left;
        width: 42%;
        margin-left: -3em;
        padding-left: 4.4em;
        background-size: 100% 100%;
      }
      &.item-4{
        background: url(../images/paso-4.png) no-repeat top left;
        margin-left: -3.9em;
        width: 31%;
        padding-left: 5.4em;
        background-size: 100%;
      }
    }
  }
}

footer{
  padding: 1em 0 1.5em 0 !important;
  border-top: 1px solid rgba(78,80,81,0.8);
  p{
    margin: 0;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    color: #4e5051;
    a{
      color: #4e5051;
    }
  }
  .social{
    padding-right: 0;
    a{
      display: block;
      height: 22px;
      width: 20px;
      background: url(../images/social.png) no-repeat left top;
      float: right;
      margin-left:12px;
      background-position: 0 -25px;
      &:hover{
        background-position: 0 0;
      }
      &.li{
        background-position: -40px -25px;
        &:hover{
          background-position: -40px 0;
        }
      }
      &.vi{
        background-position: -80px -25px;
        &:hover{
          background-position: -80px 0;
        }
      }
      &.fb{
        background-position: -115px -25px;
        &:hover{
          background-position: -115px 0;
        }
      }
    }
  }
}

form{
  .large-6{
    &:first-of-type{
      padding-left: 0;
    }
    &:nth-of-type(2){
      padding-right: 0;
    }
  }
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  color: #fff;
  background: rgba(36,39,41, 0.3);
  box-shadow: none;
  border: 1px solid #4e5051;
}

input[type="text"], textarea{
  background: rgba(36,39,41, 0.3);
  border: none;
  color: #fff;
  font-size: emCalc(20px);
  font-weight: 300;
}

input[type="button"]{
  float: right;
  width: 50%;
  background: rgba(36,39,41, 0.3);
  border: none;
  color: rgba(255,255,255,0.6);
  line-height: 2em;
  font-weight: 300;
  font-size: 1.3em;
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

textarea{
  height: 180px;
}

::-webkit-input-placeholder {
   color: #4e5051;
   font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4e5051;
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4e5051;
   font-weight: 300;
}

:-ms-input-placeholder {
   color: #4e5051;
   font-weight: 300;
}

/*------------------------------*/
/*           TABLET             */
/*------------------------------*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #wrapper{
    #logo a{
      background-size: 100% 100%;
    }
    .content{
      ul.pasos{
        li{
          padding: 2em 0 1.5em 1.5em;
          &.item-1{
            background-size: 100% 100%;
          }
          &.item-2{
            margin-left: -3em;
            padding-left: 4em;
            width: 29%;
            background-size: 100% 100%;
          }
          &.item-3{
            width: 40%;
            margin-left: -3.3em;
            padding-left: 4.4em;
            background-size: 100% 100%;
          }
          &.item-4{
            margin-left: -4em;
            width: 31%;
            padding-left: 5.4em;
            background-size: 100% 100%;
          }
        }
      }
    }
    .top{
      position: fixed;
      bottom: 25px;
      left: 15em;
      text-indent: -9999px;
      background: rgba(36,39,41,0.3) url('../images/top.png') no-repeat center center;
      height: 35px;
      width: 35px;
      z-index: 30000;
      display: none;
    }
  }
}

/*------------------------------*/
/*           MOBILE             */
/*------------------------------*/

@media only screen and (max-width: 40em) {
  #wrapper{
    padding: 0;
    h3{
      margin-top: 0.75em;
    }
    #logo{
      a{
        height: 4em;
      }
    }
    nav{
      margin: 0;
      a{
        font-size: 1em;
        padding: 0.6em;
        float: left;
        &.inicio{
          display: block;
        }
      }
    }
    h2{
      font-size: 3em;
    }
    .fixed{
      padding-top: 0;
      height: auto;
      background: #0b0f11;
    }
    .row {
      margin-left: 0;
      padding: 13.375em 0 2em;
    }
    #index{
      padding-top: 16.375em;
      .boxes{
        li{
          p{
            font-size: 0.75em;
          }
        }
      }
    }
    .top{
      display: none !important;
    }
    .pasos{
      li{
        &.item-1{
          background-size: 100% 100%;
          margin-left: -0.5em;
        }
        &.item-2{
          margin-left: -3em;
          padding-left: 4em;
          width: 31%;
        }
        &.item-3{
          width: 41%;
          margin-left: -3.2em;
          padding-left: 4.4em;
          background-size: 100% 100%;
        }
        &.item-4{
          margin-left: -3.9em;
          width: 32%;
          padding-left: 5.1em;
          background-size: 100% 100%;
        }
      }
    }
    form{
      .small-12{
        padding: 0;
      }
    }
  }
}
